/*------------------------------------*\
               GENERAL
\*------------------------------------*/

html a {
    display: none;
}

html h1 { 
    color: black;
}
.titlePage h1 {
    color:black;
}
h2 { 
    color: black;
}

p {
    color: black;
}

.button {
    display: none;
}


/*------------------------------------*\
               NAVBAR
\*------------------------------------*/

#navbar-container {
    display: none;
}



/*------------------------------------*\
               Breadcrumb
\*------------------------------------*/

#breadcrumb {
    display: none;
}


/*------------------------------------*\
 Contenitore prodotti e Contenitore home
\*------------------------------------*/

.outer {
    padding: 3% 5%;
    background-image: none;
}

#home .outer {
    padding: 0 5%;
}

#category h2 {
    color: black;
}

#category p {
    color: black;
}

.inner {
    width: 90%;
    padding: 0;
}

.dx {
    margin: 0;
}


/*------------------------------------*\
               Contatti
\*------------------------------------*/

.svgContainer {
    width: 100%;
    height: auto;
}

.svg {
    display: none;
}

.svgsContainer {
    height: 0;
}

.storiesImgContainer {
    display: none;
}

.storiesCont {
    width: 100%;
    padding: 0;
    float: none;
}


/*------------------------------------*\
               Carrello
\*------------------------------------*/

.carrelloImg {
    height: 80%;
}


/*------------------------------------*\
            Back to top
\*------------------------------------*/

.arrowUp {
    display: none;
}

/*------------------------------------*\
               Footer
\*------------------------------------*/

#wrapper {
    display: none;
}