/*------------------------------------*\
          Mobile navbar
\*------------------------------------*/

@media only screen and (max-width: 767px) {
    #navbar-container {
         
    }

    #navbar-container a{
        
    }

    ul a{

    }
}


@media only screen and (max-width: 767px) {
    #outer{
        height: 70vh;
    }
    .inner p{
        font-size: 20px;
    }
    .inner{
        width: 90%;
        margin: 0 auto;
        padding: 0;
        padding-top: 10%;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 18px;
    }
    h3{
        font-size: 15px;
    }
}

/*------------------------------------*\
          Tutti i prodotti
\*------------------------------------*/

@media only screen and (max-width: 767px) {
    #productsContainer{
        height: auto;
        overflow: hidden;
    }

    .productsImg {
        width: 45%;
        height: 40vh;
    }
    .products {
        width: 55%;
        height: auto;
    }

    .products p { 
        font-size: 16px;
    }

    .detailsContainer {
        width: 55%;
        height: auto;
        float: right;
        margin-top: 2em;
    }  

    .productPrice {
        margin-left: 1em;
    }

    .details {
        float: right;
        margin: 0 1em 0 0;
    }
}

/*------------------------------------*\
               Prodotto
\*------------------------------------*/

@media only screen and (max-width: 767px) {
    #productContainer{
        height: auto;
        overflow: hidden;
    }

    .productImg {
        width: 100%;
        height: 50vh;
    }

    .product {
        width: 100%;
        height: auto;
    }

    .product p { 
        font-size: 20px;
        margin-left: 1em;
    }

    .buyContainer {
        width: 100%;
        height: 8vh;
    }

    .productPrice {
        float: left;
        margin-left: 1em;
    }

    .productPrice h3 {
        font-size: 18px;
    }

    .compra {
        float: right;
        margin: 0 1em 0 1em;
    }
}

/*------------------------------------*\
            Login Register
\*------------------------------------*/

@media only screen and (max-width: 767px) {

    .formContainer h2 {
        margin: 4em 0 2em 0;
        font-size: 23px;
    }

    .loginContainer {
        width:100%;
        float: none;
    }

    .registerContainer {
        width:100%;
        float: none;
    }

    .formCenter {
        text-align: center;
    }

    input[type=text], input[type=password] {
    width: 300px;
    }

}