/* _____FONT PER I TITOLI___ */
@font-face {
    font-family: "title";
    src:url("../../font/raleway/Raleway-Light.ttf");
}


/* ___COLORI PALETTE___ 
#5a9697;    GRIGIO/VERDE
#eae7d4;    GRIGIO CHIARO
#55c6b4;    VERDE ACQUA
#01404f;    AZZURRO SCURO
#011722;    BLU SCURO
*/

/*------------------------------------*\
               GENERAL
\*------------------------------------*/

body {
    width:100%;
    margin: 0;
    padding: 6.5em 0 0 0;
    min-height:100%;
    font-family: 'title';
}

h1 {
    font-family: 'title';
    font-size: 2.5em;
    text-align: center;
}

h2 {
    font-family: 'title';
    font-size: 2.2em;
    font-weight: bold;
}

h3 {
    font-family: 'title';
    margin: 0;
    font-size: 1.7em;
    font-style: normal;
}

h4 {
    font-family: 'title';
    margin: 0;
    font-size: 1.6em;
    font-style: normal;
}


p {
    font-family: 'title';
    font-size: 1.1em;  
     text-align: justify;  
}

a p {
    text-align: center;
}

.titlePage h1{
    margin: 0px auto;
    padding: 0.5em 0;
    text-align: center; 
    background-color: #011722;
    color: white;
}

.button {
    background-color: #01404f;
    border: none;
    color:white;
    width: 8.5em;
    margin: 0 auto;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0.5em 0.5em;
    font-size: 1.2em;
    cursor: pointer;
    font-family:'title';
}

.button:hover{
    background-color:#5a9697; 
    color:white;
}




/*------------------------------------*\
               NAVBAR
\*------------------------------------*/

#navbar-container{
    position: fixed;
    width:100%;
    height: 3.5em;
    top:0px;
    left:0px;
    z-index: 10;
}

#navbar-container input{
    display: none;
}

.logo {
    width: 3.5em;
    height: 3.5em;
    float: left;
    padding-left: 1em;
    position: absolute;
}


header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#01404f;
    padding-left: 5em;
    padding-right: 0.5em;
}


header li {
    float: left;
}


header li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1.2em 1.4em;
    text-decoration: none;
}

header li a:hover, .dropdown:hover .dropbtn {
    background-color:#5a9697; 
    color:white;
}

header li.dropdown {
    display: inline-block;
}

header li.menuDx{
    float:right;
}

.dropdown-content {
    display: none;
    position:absolute;
    background-color: #f9f9f9;
    /* min-width: 6em; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

.dropdown-content a {
    color: black;
    padding: 0.5em 1em;
    text-decoration: none;
    display: block;
    text-align: left;
    overflow: auto;
}
		
.dropdown-content a:hover {
    background-color: #5a9697;
}

.dropDown:hover .dropdown-content {
    display: block;
}

.active{
    box-shadow:0 -5px #5a9697 inset;
}


/*------------------------------------*\
               Breadcrumb
\*------------------------------------*/

#breadcrumb {
    height: 3em;
    width: 100%;
    top: 3.5em;
    background-color:#011722;
    border-top: 0.5px solid #011722;
    color: white;
    line-height: 3em;
    padding-left: 1em;
    position: fixed;
    z-index: 9;
}

#breadcrumb a, #breadcrumb a:visited {
    color: white;
}

.welcomeUser{
    float: right;
    margin-right: 3em;
}


/*------------------------------------*\
 Contenitore prodotti e Contenitore home
\*------------------------------------*/

#outer {
    height: 45em;
    width: 100%;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}

.inner {
    padding: 10% 10% 10% 10%;
    vertical-align: middle;
    width: 30%;
}

.dx{
    float: right;
}

.inner p, .inner h1, .inner h2{
    text-align: center;
    color:white;
}

.inner p {
    font-size: 1.7em;
}

.outer-home{
    background-image: url("../../img/headphones/headphones3.jpg");
}

.outer-cuffieInEar{
    background-image: url("../../img/prodotti/cuffieInear/presentation.png");
}

.outer-cuffieOnEar{
    background-image: url("../../img/prodotti/cuffieOnear/presentation.png");
}

.outer-cuffieWireless{
    background-image: url("../../img/prodotti/cuffieWireless/presentation.png");
}

.outer-altoparlanti{
    background-image: url("../../img/prodotti/casseAltoparlanti/inizio.jpg");
}

.outer-casseBluetooth{
    background-image: url("../../img/prodotti/casseBluetooth/inizio.jpg");
}

.outer-accessoricuffie{
    background-image: url("../../img/prodotti/accessoriCuffie/inizio.jpg");
}

.outer-accessoricasse{
    background-image: url("../../img/prodotti/accessoriCasse/inizio.jpg");
}

/*------------------------------------*\
               Home
\*------------------------------------*/

.content {
    position: relative;
    height: 90%;
    width: 100%;
    margin-top: 0;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
        
}

.data-template {
    position:relative;
    width:100%;
}

.data-template h2{ 
    margin: 0 auto;
    padding: 1em 0;
    text-align: center; 
    color:#01404f;; 
}

.outer {
    align-items:center;
    position:relative;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin: 0 auto;
    margin-bottom: 4em;
    background-color: white;
    overflow: hidden;
     
}

.data-template {
    width: 100%;
    margin-top: 0;
}

.product-box {
    position:relative;
    width:25%;
    float:left;
}

.product-box h4{
    text-align: center;
    color:black;
    margin: 1em 0.5em;
}

.product-box p{
    /* max-width:30em; */
    font-size: 0.8em;
    text-align: center;
    color: black;
    margin: 1em 1.5em;
}

.product-box img{
    position: relative;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    display: block;
    padding: 0.7em 0 0.3em 0;
    border-radius: 50%; 
}

/* ___ICON___ */
.icon-wrapper{
    position:relative;
    width:80%;
    height:30em;
    padding: 5% 10%;
    background-color:#8ed8cc;
}

.icon-row{
    position:relative;
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}

.icon-col{
    position:relative;
    float:left;
    width:25%;
    height:100%;
    margin:4.1%;
    font-size: 1em;
    /* background-color: red; */
    /* margin: 5px; */
    

}

.icon{
    display: block;
    margin:0 auto;
    width:100px;
    height: 100px;
    position:relative;
    
    width:100%;
    /* margin:70%; */
    /* border-radius:50%; */
    
    background-size: 70px;
    background-repeat:no-repeat;
    width:70px;
    height: 70px;
}

#shipping-icon{ 
    position:relative;

    background-image: url("../../img/icon/svgIcon/headSetW.png");
   
    /* background-color:red; */
}
#color-personalizer{background-image: url("../../img/icon/svgIcon/headSetW.png");
    /* background-color:red; */
}
#supervisioned{
    background-image: url("../../img/icon/svgIcon/headSetW.png");
    background-repeat:no-repeat;
    /* background-color:red; */
}


/*------------------------------------*\
            Tutti i Prodotti
\*------------------------------------*/

#productsContainer{
    width: 100%;
    height: 20em;
    box-shadow: 0px 4px 2px #8080807A;
    margin-bottom: 1em;
}

#productsContainer p {
    margin: 0;
    padding: 0;
}

#productsContainer .button {
    right: 0;
    bottom: 0;
    display: inline-block;
    position: absolute;
    font-size: 1em;
}

.imgsContainer {
    height: 100%;
    width: 35%;
    vertical-align: middle;
    float: left;
    overflow: hidden;
}

.productsImg {
    margin-top: 2em;
    max-height: 80%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.descriptionsContainer {
    width: 60%;
    height: 20em;
    float: right;
    padding-right: 2em;
}

.details {
    margin-top: 2em;
    width: 100%;
    display: inline-block;
    position: relative;
}

.productsPrice {
    position: relative;
    display: inline-block;
    margin-top: 1em;
}


/*------------------------------------*\
               Prodotto
\*------------------------------------*/

#productContainer {
    margin-top: 2em;
    width: 100%;
    height: 25em;
}

#productContainer .button {
    right: 0;
    bottom: 0;
    padding: 0 0.5em;
    width: auto;
    display: inline-block;
    position: absolute;
    font-size: 1em;
}

.imgContainer {
    height: 100%;
    width: 40%;
    float: left;
}

.productImg {
    max-height: 70%;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.descriptionContainer {
    width: 55%;
    height: 25em;
    float: right;
    padding-right: 2em;
}

.product {
    width: 100%;
}

.buyContainer {
    width: 100%;
    display: inline-block;
    position: relative;
    padding-top: 2em;
}

.productPrice {
    position: relative;
    display: inline-block;
}


/*------------------------------------*\
               Login
\*------------------------------------*/

#formContainer {
    margin-top:3em;
    margin:0px;
    border:0px;
    width:100%;
    height: 42em;
    /* min-height: 681px; */
    background-image: url("../../img/headphones/headphones5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#formContainer h2 {
    margin: 2em 0 1em 0;
    text-align: center;
}

#formContainer p {
    margin: 0.5em 0 0.5em 0;
    text-align: center;
}

.loginContainer {
    width:50%;
    float: left;
}

.registerContainer {
    color: white;
    width:50%;
    height: 42em;
    float: left;
    background-color: rgba(0,0,0,0.6);
}

.formCenter {
    text-align: center;
    z-index: 5;
    padding-bottom: 3em;
}
  
.formBtn {
    height: 2em;
    position: relative;
    padding: 0 1em 0 1em;
    margin-top: 1em;
    background-color: #01404f;
    border: none;
    color:white;
    font-family: 'title';
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
 
}

.form {
    display: block;
    width: 300px;
    background-color: #F3EDD3;
    padding:  0;
    text-align: center;
}
  
.form .form-title {
    text-align: center;
    padding: 5px;
    margin: 0;
    margin-bottom: 15px;
}
  
.form label {
    color: black;
}
  
.form input[type=text], .form input[type=password], .form input[type=email] {
    display: block;
}
  
input[type=text], input[type=password], input[type=email] {
    display: inline-block;
    color: black;
    padding: 1em;
    width: 300px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.25);
    border: none;
    border-radius: 0.5em;
    transition:background-color 0.5s ease;
}
  
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: rgba(0,0,0,0.45);
}
  
input[type=submit], input[type=button] {
    color: white;
    display: block;
    margin-top:15px;
    border: none;
    padding: 5px;
    font-size: 1.1em;
    cursor: pointer;
}
  
::-webkit-input-placeholder {
    color: white;
}

:-moz-placeholder { /* Firefox 18- */
    color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
    color: white;  
}

:-ms-input-placeholder {  
    color: white;  
}
  

/*------------------------------------*\
               Footer
\*------------------------------------*/

#wrapper {
    width: 100%;
    background-color: #01404f;
    height: 13em;
    /* margin-top: 1em; */
}

footer {
    padding: 1em 0.5em 1em 0.5em;
    float:right;
    position:relative;
    left:-50%;
    text-align:left;
}

footer li {
    font-size: 1.2em;
    font-weight: bold;
    /* display: inline; */
    color: white;
    text-align: center;
    float: left;
    position: relative;
    /* text-decoration: none; */
}

footer a {
    display: block;
    color: white;
    text-align: left;
    padding: 1em 0.5em 0 0.5em;
    text-decoration: none;
}

footer ul {
    list-style-type: none;
    /* margin: 0 auto; */
    overflow: hidden;
    list-style:none;
    position:relative;
    left:50%;
}

.sublist {
    font-size: 0.8em;
    font-weight: normal;
}

footer li a:hover, .dropdown:hover .dropbtn {
    background-color:#5a9697; 
    color:white;
}

/*------------------------------------*\
               About us
\*------------------------------------*/
#aboutusouter {
    height: 50vh;
    width: 100%;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}

#aboutusContainer{
    width: 100%;
    height: 55vh;
    min-height: 245px;
    box-shadow: 0px 4px 2px #8080807A;
   
}

.imgsContainer{
    margin: 0 0 1em 0;
    height: 100%;
    width: 35%;
    vertical-align: middle;
    float: left;
    overflow: hidden;
}


.storysImg{
    max-height: 80%;
    max-width: 80%;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.storys {
    width: 65%;
    float: right;
}


.storys p {
    font-size: 20px;
    color:black;
    text-align: right;
    margin: 3em 4em 0 4em;
    padding: 0;
}
.aboutusouter-aboutus{
    background-image: url("../../img/aboutus/inizio.jpg");
}

.imgs2Container{
    margin: 0 0 1em 0;
    height: 100%;
    width: 35%;
    vertical-align: middle;
    float: right;
    overflow: hidden;
}


.storys2Img{
    max-height: 90%;
    max-width: 90%;
    margin: 2em 0 3em 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.storys2 {
    width: 65%;
    float: left;
}
.storys2 p {
    font-size: 20px;
    color:black;
    text-align: left;
    margin: 2em 4em 4em 4em;
    padding: 0;
}

/*------------------------------------*\
               Carrello
\*------------------------------------*/

#carrello {
    margin: 1em 0;
    width: 100%;
    height: 20vh; /**/
    min-height: 180px; /**/
    border-bottom: 1px solid gray;
}

.carrelloImgContainer {
    width: 25%;
    display: inline-block;
}

.carrelloImg {
    max-height: 45%;
    max-width: 45%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.carrelloDescriptionContainer {
    width: 75%;
    float: right;
    font-size: 1.3em;
}
.carrelloDescription {
    width: auto;
    display: block;  
    margin-right: 2em;
}

.quantity {
    margin: 0 2em 0 0;
    display: inline-block;
    right: 8em;
    position: absolute;
}

.quantity p{
    display: inline-block;
    margin: 0 0.2em;
}

.quantityBotton {
    padding: 0;
    background-color: #01404f;
    border: none;
    color:white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.removeBotton {
    background-color: #01404f;
    border: none;
    color:white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 4.5em;
    bottom: 0;
    left: 0;
}

.removeBotton p {
    margin: 0.1em;
}

#carrello .productPrice {
    float: right;
    margin: 0 2em 0 0;
    position: relative;
}

.totalPriceContainer {
    width: 100%;
    height: 8vh;
}

.totalPrice {
    float: right;
    margin: 0 1.6em;
    font-size: 1.5em;
}


