/*------------------------------------*\
                General
\*------------------------------------*/

body {
    padding: 6em 0 0 0;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.1em;
}

h4 {
    font-size: 1em;
}

p {
    font-size: 0.9em;    
}

a {
    font-size: 0.9em;
}

.titlePage h1{
    margin: 0px auto;
    padding: 0.5em 0;
    text-align: center; 
    background-color: #011722;
    color: white;
}

.button {
    padding: 0.5em 1em;
    font-size: 0.9em;
}

.button:hover{
    background-color:#5a9697; 
    color:white;
}
    

/*------------------------------------*\
            Mobile navbar
\*------------------------------------*/

#navbar-container {
    display: block;
    z-index: 10;
    user-select: none;  
    background-color:#01404f;
    padding: 1em 0;
    height: auto;
}

#navbar-container input {
    display: block;
    width: 3em;
    height: 3em;
    position: absolute;
    left: 1em;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#navbar-container span {
    display: block;
    width: 33px;
    height: 4px;
    margin: 5px;
    margin-left: 1em;
    position: relative;
    background: white;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
}

#navbar-container span:first-child {
    transform-origin: 0% 0%;
}

#navbar-container span:nth-child(2) {
    transform-origin: 0% 100%;
}

#navbar-container input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg)translate(-6px, -14px);
    background: #232323;
}

#navbar-container input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#navbar-container input:checked ~ span:nth-child(2) {
    transform: rotate(-45deg)translate(-12px, 21px);
}

#navbar-container input:checked ~ ul {
    transform: none;
}

.logo {
    display: none;
}

.logoMobile {
    /* float: right; */
    position: absolute;
    width: 6em;
    height: 6em;
    right: 0em;
    top: 0;
    display: inline-block;
}

.mobile {
    position: absolute;
    top: 0;
    left: 0;
    /* margin: -100px 0 0 -50px;
    padding: 50px; */
    padding-top: 1em;
    background: white;
    width: 100%;
    text-align: center;
    transform: translate(-100%, 0);
}

.mobile li {
    /* padding: 10px 0; */
    font-size: 1.3em;
    /* width: auto; */
    padding: 0.5em 0;
    border-bottom: 1px solid gray;
}

header li {
    float: none;
    width: 100%;
}

header li a { /*.dropbtn*/
    display: inline;
    color: black;
    padding: 0.5em 0.2em;
}

.menuDx {
    float: none;
}

header ul {
    padding: 0;
}

.dropdown-content {
    display: block;
    position: relative;
    text-align: center;
    padding: 0;
    background-color: white;
    box-shadow: none;
}

.dropdown-content a {
    padding: 0.5em 0;
    text-align: center;
    font-size: 0.7em;
}

.arrow {
    display: none;
}


/*------------------------------------*\
               Breadcrumb
\*------------------------------------*/

#breadcrumb {
    /* width: 100%; */
    top: 4.5em;
    font-size: 0.8em;
    padding-left: 1em;
}

.nomeUtente {
    display: none;
}


/*------------------------------------*\
 Contenitori prodotti e Contenitore home
\*------------------------------------*/

.outer {
    padding: 8em 0;
}

.inner {
    width: 90%;
    padding: 1em 0;
    margin: 0 5%;
    float: none;
}

.inner p {
    font-size: 1.1em;
    padding: 0 2em;
}
.dx {
    float: none;
}


/*------------------------------------*\
                Home
\*------------------------------------*/

#home .outer {
    padding:12em 0;
}

.product-box {
    width:50%;
}


/*------------------------------------*\
          Tutti i prodotti
\*------------------------------------*/

#productsListContainer p {
    font-size: 0.9em;
}

#productsListContainer h2 {
    margin-top: 2em;
}

#productsListContainer .button {
    position: relative;
    float: none;
    display: block;
    margin-top: 1em;
    width: 6em;
}

.productsContainer {
    height: auto;
    overflow: hidden;
}

.imgsContainer {
    width: 45%;
}

.productsImg {
    margin: 0 auto;
    margin-top:3em;
    max-width: 70%;
    height: auto;
    
}   

.descriptionsContainer {
    width: 50%;
    height: auto;
    padding: 0 5% 2% 0;
}

.details {
    /* height: auto; */
    margin: 0;
}  

.productPrice {
    display: block;
}


/*------------------------------------*\
               Prodotto
\*------------------------------------*/

#productContainer {
    height: auto;
    /* overflow: hidden; */
}


.imgContainer {
    width: 100%;
    height: auto;
}

.productImg {
    width: 100%;
}  

.descriptionContainer {
    width: 90%;
    margin: 0 auto;
    height: auto;
    float: none;
    padding: 2em 1em;
    overflow: hidden;
}

.product {
    width: 100%;
    height: auto;
}

.buyContainer {
    width: 100%;
    height: auto;
}

/*------------------------------------*\
                Contatti
\*------------------------------------*/

.svgContainer p {
    padding: 0 1.5em;
}

.svg {
    max-height: 25%;
}


/*------------------------------------*\
            Login Register
\*------------------------------------*/

#formContainer {
    /* margin-top:2em; */
    height: 62em;
}

.formContainer h2 {
    margin: 4em 0 2em 0;
    font-size: 23px;
}

.loginContainer {
    padding-top: 0.5em;
    width:100%;
    float: none;
}

.registerContainer {
    padding-top: 0.5em;
    width:100%;
    float: none;
}

.formCenter {
    text-align: center;
}

input[type=text], input[type=password] {
    width: 300px;
}


/*------------------------------------*\
            Carrello
\*------------------------------------*/

#carrello .button {
    float: none;
    margin-bottom: 1em;
} 

#carrello .productPrice {
    float: right;
}

#carrello h3 {
    margin: 0 0 0.5em 0;
}

.carrelloContainer {
    height: 12em;
}

.carrelloImgContainer {
    width: 40%;
}

.carrelloImg {
    height: auto;
    width: 85%;
}

.carrelloDescriptionContainer {
    width: 55%;
}

.carrelloDescription {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.quantity {
    margin: 0;
    display: inline-block;
    margin-bottom: 1em;
}

.quantity p{
    margin: 0;
}

.quantityBotton {
    padding: 0 0.2em;;
}

.totalPriceContainer {
    display: block;
    margin: 0 auto;
    text-align: center;
}

/*------------------------------------*\
            Amministratore
\*------------------------------------*/

#amministratore .buttonContainer {
    width: 100%;
}

/*------------------------------------*\
               About Us
\*------------------------------------*/

.storiesImgContainer {
    display: none;
}

.storiesCont {
    width: 90%;
}

/*------------------------------------*\
               About Us
\*------------------------------------*/


/*------------------------------------*\
                404
\*------------------------------------*/

#notFound {
    padding: 20em 0em;
}


/*------------------------------------*\
               Footer
\*------------------------------------*/

#wrapper {
    height: auto;
}

footer {
    padding: 1em 0em 1em 0em;
}

footer li {
    font-size: 0.8em;
}

footer a {
    padding: 0.5em 0.3em 0 0.3em;
}

footer ul {
    padding: 0;
}

.sublist {
    display: none;
}