/* _____FONT PER I TITOLI___ */
@font-face {
    font-family: "title";
    src:url("../../font/raleway/Raleway-Light.ttf");
}


/* ___COLORI PALETTE___ 
#5a9697;    GRIGIO/VERDE
#eae7d4;    GRIGIO CHIARO
#55c6b4;    VERDE ACQUA
#01404f;    AZZURRO SCURO
#011722;    BLU SCURO
*/


.active{
    border-bottom:5px solid #5a9697;
}


/*------------------------------------*\
               GENERAL
\*------------------------------------*/

body {
    width:100%;
    margin: 0;
    padding: 100px 0 0 0;
    min-height:100%;
    font-family: 'title';
}

h1 {
    font-family: 'title';
    font-size: 40px;
    text-align: center;
}

h2 {
    font-family: 'title';
    font-size: 30px;
    font-weight: bold;
}

h3 {
    margin: 0;
    font-size: 20px;
    font-style: normal;
}


/*------------------------------------*\
               NAVBAR
\*------------------------------------*/

#navbar-container{
    position: fixed;
    width:100%;
    height: 4em;
    top:0px;
    left:0px;
    z-index: 999;
}

#navbar-container input{
    display: none;
}

.logo {
    width: 3.5em;
    height: 3.5em;
    float: left;
    padding-left: 1em;
    display: inline-block;
    position: absolute;
}


header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#01404f;
    padding-left: 5em;
    padding-right: 0.5em;
}


header li {
    float: left;
}


header li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1.2em 1.4em;
    text-decoration: none;
}

header li a:hover, .dropdown:hover .dropbtn {
    background-color:#5a9697; 
    color:white;
}

header li.dropdown {
    display: inline-block;
}

header li.menuDx{
    float:right;
}

.dropdown-content {
    display: none;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    overflow: auto;
}
		
.dropdown-content a:hover {
    background-color: #5a9697;
}

.dropDown:hover .dropdown-content {
    display: block;
}



/*------------------------------------*\
Contenitore prodotti e Contenitore home
\*------------------------------------*/

#outer {
    height: 90vh;
    width: 100%;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}

.inner {
    padding: 10% 10% 10% 10%;
    vertical-align: middle;
    width: 30%;
}

.dx{
    float: right;
}

.inner p {
    font-size: 25px;
    text-align: center;
    color:white;
}

/* Immagine home */
.outer-home{
    background-image: url("../../img/headphones/headphones3.jpg");
}

/* Immagine cuffie in-ear */
.outer-cuffieInEar{
    background-image: url("../../img/prodotti/cuffieInear/presentation.png");
}

/* Immagine cuffie on-ear */
.outer-cuffieOnEar{
    background-image: url("../../img/prodotti/cuffieOnear/presentation.png");
}

/* immagine cuffie wireless */
.outer-cuffieWireless{
    background-image: url("../../img/prodotti/cuffieWireless/presentation.png");
}
/*Immagine altoparlanti*/
.outer-altoparlanti{
    background-image: url("../../img/prodotti/casseAltoparlanti/inizio.jpg");
}
/*Immagine casse bluetooth*/
.outer-casseBluetooth{
    background-image: url("../../img/prodotti/casseBluetooth/inizio.jpg");
}
/*Immagine accessori cuffie*/
.outer-accessoricuffie{
    background-image: url("../../img/prodotti/accessoriCuffie/inizio.jpg");
}
/*Immagine accessori casse*/
.outer-accessoricasse{
    background-image: url("../../img/prodotti/accessoriCasse/inizio.jpg");
}

/*------------------------------------*\
               Home
\*------------------------------------*/

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #01404f;
    border: none;
    color:white;
    text-align: center;
    text-decoration: none;
    padding: 19px 27px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10%;
    font-family:'title';
}

.button:hover{
    background-color:#5a9697; 
    color:white;
}

.inner h2{
    text-align: center; 
    font-size: 45px;
    color:white; 
}

/* ___PIU VENDUTI___ */

.content{
    position: relative;
    height: 90%;
    width: 100%;
    margin-top: 0px;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
        
}

.data-template{
    position:relative;
    width:100%;
}

.data-template h2{
    margin: 0px auto;
    padding: 42px 0px;
    text-align: center; 
    font-size: 45px;
    color:#01404f;; 
}

.outer{
    display:table;
    align-items:center;
    position:relative;
     width: 80%;
     margin-left:10%;
     margin-right:10%;
     margin: 0 auto;
     margin-bottom:80px;
     background-color:white;
     overflow:hidden;
     
}

.data-template {
    width: 100%;
      margin-top: 0px;
}

.product-box {
    position:relative;
    width:25%;
    height:100%;
    float:left;
    /* ___non sono sicuro sia il modo giusto di farlo
        serve per rendere i box tutti della stessa altezza */
    /* margin-top: -9999px;
	margin-bottom: -9999px;
	padding-top: 9999px;
	padding-bottom: 9999px; */
  }

  /* .product-box:hover{
    background-color: #8ed8cc;
  } */

  .product-box h4{
    font-size: 1.3em;
    text-align: center;
    color:black;
    margin: 20px 5px 5px 5px;

  }
  .product-box p{
    max-width:200px;
    font-size: 0.8em;
    text-align: center;
    color:black;
    margin: 8% 15%;
}

.product-box img{
    position:relative;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    display:block;
    padding: 5%;
    border-radius: 50%; 
}

/* ___ICON___ */
.icon-wrapper{
    position:relative;
    width:80%;
    height:400px;
    padding: 5% 10%;
    background-color:#8ed8cc;
}

.icon-row{
    position:relative;
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}

.icon-col{
    position:relative;
    float:left;
    width:25%;
    height:100%;
    margin:4.1%;
    font-size: 1em;
    /* background-color: red; */
    /* margin: 5px; */
    

}

.icon{
    display: block;
    margin:0 auto;
    width:100px;
    height: 100px;
    position:relative;
    
    width:100%;
    /* margin:70%; */
    /* border-radius:50%; */
    
    background-size: 70px;
    background-repeat:no-repeat;
    width:70px;
    height: 70px;

   
}

#shipping-icon{ 
    position:relative;

    background-image: url("../../img/icon/svgIcon/headSetW.png");
   
    /* background-color:red; */
}
#color-personalizer{background-image: url("../../img/icon/svgIcon/headSetW.png");
    /* background-color:red; */
}
#supervisioned{background-image: url("../../img/icon/svgIcon/headSetW.png");
    background-repeat:no-repeat;
    /* background-color:red; */
}

/*------------------------------------*\
            Tutti i Prodotti
\*------------------------------------*/

#productsContainer{
    width: 100%;
    height: 35vh;
    min-height: 245px;
    box-shadow: 0px 4px 2px #8080807A;
    margin-bottom: 1em;
}

.imgsContainer{
    margin: 0px 0 1em 0;
    height: 100%;
    width: 35%;
    vertical-align: middle;
    float: left;
    overflow: hidden;
}

.productsImg{
    max-height: 80%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.products {
    width: 65%;
    float: right;
}

.products p {
    font-size: 20px;
    color:black;
    text-align: justify;
    margin: 0 4em 0 0;
    padding: 0;
    
}
.detailsContainer{
    width: 65%;
    display: inline-block;
    position: relative;
}

.productsPrice {
    height: 5vh;
    position: relative;
    display: inline-block;
    margin-top: 1em;
}

.details {
    height: auto;
    position: relative;
    float: right;
    margin: 1em 4em 0 0;
    padding: 0 1em 0 1em;
    background-color: #01404f;
    border: none;
    color:white;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    vertical-align: center;
}

/*------------------------------------*\
               Prodotto
\*------------------------------------*/

#productContainer {
    width: 100%;
    height: 70vh;
    min-height: 400px;
    box-shadow: 0px 4px 2px #8080807A;
    margin-bottom: 1em;
    /* overflow: hidden; */
}

.imgContainer{
    margin: 0px 0 1em 0;
    height: 100%;
    width: 40%;
    float: left;
}

.productImg{
    max-height: 80%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.product {
    width: 60%;
    float: right;
}

.product h2 {
    font-size: 25px;
    text-align: center;
    margin-top: 2em;
}

.product p {
    font-size: 20px;
    color:black;
    text-align: justify;
    margin-right: 2em;
}

.buyContainer {
    width: 60%;
    /* height: 10vh; */
    display: inline-block;
    position: relative;
    padding-top: 2em;
}

.productPrice {
    height: 5vh;
    position: relative;
    display: inline-block;
}

.compra {
    height: auto;
    position: relative;
    float: right;
    margin-right: 3em;
    padding: 0 1em 0 1em;
    background-color: #01404f;
    border: none;
    color:white;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
}

/*------------------------------------*\
               Login
\*------------------------------------*/

#formContainer {
    margin-top:3em;
    margin:0px;
    border:0px;
    width:100%;
    height: auto;
}

#formContainer h2 {
    margin: 2em 0 1em 0;
    text-align: center;
}

#formContainer p {
    margin: 0.5em 0 0.5em 0;
    text-align: center;
}

.loginContainer {
    margin-top: 3em;
    width:50%;
    float: left;
}

.registerContainer {
    margin-top: 3em;
    width:50%;
    float: left;
}

.formCenter {
    text-align: center;
}
  
.formBtn {
    height: 2em;
    position: relative;
    padding: 0 1em 0 1em;
    margin-top: 1em;
    background-color: #01404f;
    border: none;
    color:white;
    font-family: 'title';
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
 
}

.form {
    display: block;
    width: 300px;
    background-color: #F3EDD3;
    padding:  0;
    text-align: center;
}
  
.form .form-title {
    text-align: center;
    padding: 5px;
    margin: 0;
    margin-bottom: 15px;
}
  
.form label {
    color: black;
}
  
.form input[type=text], .form input[type=password], .form input[type=email] {
    display: block;
}
  
input[type=text], input[type=password], input[type=email] {
    display: inline-block;
    color: black;
    padding: 1em;
    width: 300px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.25);
    border: none;
    border-radius: 0.5em;
    transition:background-color 0.5s ease;
}
  
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: rgba(0,0,0,0.45);
}
  
input[type=submit], input[type=button] {
    color: white;
    display: block;
    margin-top:15px;
    border: none;
    padding: 5px;
    font-size: 1.1em;
    cursor: pointer;
}
  
::-webkit-input-placeholder {
    color: white;
}

:-moz-placeholder { /* Firefox 18- */
    color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
    color: white;  
}

:-ms-input-placeholder {  
    color: white;  
}
  



/*------------------------------------*\
               Footer
\*------------------------------------*/

#wrapper {
    width: 100%;
    background-color: #01404f;
    height: 12em;
}

footer {
    padding: 1em 0.5em 1em 0.5em;
    float:right;
    position:relative;
    left:-50%;
    text-align:left;
}

footer li {
    font-size: 1.2em;
    font-weight: bold;
    display: inline;
    color: white;
    text-align: center;
    float: left;
    position: relative;
    /* text-decoration: none; */
}

footer a {
    display: block;
    color: white;
    text-align: left;
    padding: 1em 0.5em 0 0.5em;
    text-decoration: none;
}

footer ul {
    list-style-type: none;
    /* margin: 0 auto; */
    overflow: hidden;
    list-style:none;
    position:relative;
    left:50%;
}

.sublist {
    font-size: 0.8em;
    font-weight: normal;
}

footer li a:hover, .dropdown:hover .dropbtn {
    background-color:#5a9697; 
    color:white;
}

/*------------------------------------*\
               About us
\*------------------------------------*/
#aboutusouter {
    height: 50vh;
    width: 100%;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}

#productsContainer{
    width: 100%;
    height: 60vh;
    min-height: 245px;
    box-shadow: 0px 4px 2px #8080807A;
    margin-bottom: 1em;
}

.imgsContainer{
    margin: 0 0 1em 0;
    height: 100%;
    width: 35%;
    vertical-align: middle;
    float: left;
    overflow: hidden;
}


.productsImg{
    max-height: 80%;
    max-width: 80%;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.products {
    width: 65%;
    float: right;
}


.products p {
    font-size: 20px;
    color:black;
    text-align: justify;
    margin: 4em 4em 0 0;
    padding: 0;
}
.aboutusouter-aboutus{
    background-image: url("../../img/aboutus/inizio.jpg");
}