/* _____FONT PER I TITOLI___ */
@font-face {
    font-family: "title";
    src:url("../../font/raleway/Raleway-Light.ttf");
}


/* ___COLORI PALETTE___ 
#5a9697;    GRIGIO/VERDE
#eae7d4;    GRIGIO CHIARO
#55c6b4;    VERDE ACQUA
#01404f;    AZZURRO SCURO
#011722;    BLU SCURO
*/


.active{
    border-bottom:5px solid #5a9697;
}


/*------------------------------------*\
               GENERAL
\*------------------------------------*/

body {
    width:100%;
    margin: 0;
    padding: 0;
    min-height:100%;
    font-family: 'title';
}

h1 {
    font-family: 'title';
    font-size: 40px;
    text-align: center;
}

h2 {
    font-family: 'title';
    font-size: 30px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: bold; 
}

p {
    font-family: 'title';
    font-size: 100px;
}

/*------------------------------------*\
               NAVBAR
\*------------------------------------*/

.navbar-container{
    position: fixed;
    width:100%;
    top:0px;
    left:0px;
    z-index: 999;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color:#01404f;;
}

li {
    float: left;
}


/*___arrowMenu___*/

/* .arrow-down.icon {
    margin: 14px 16px;
    color: white;
    position: absolute;
    
    margin-right:15px;
    background-color: currentColor;
    
  }

.arrow-down.icon:before {
    
    content: '';
    position: absolute;
    left: -5px;
    top: 3px;
    width: 10px;
    height: 10px;
    border-top: solid 1px currentColor;
    border-right: solid 1px currentColor;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
            
  } */
  /*___end_arrow___*/

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 19px 27px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color:#5a9697; 
    color:white;
}

li.dropdown {
    display: inline-block;
}

li.menuDx{
    float:right;
}

.dropdown-content {
    display: none;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    overflow: auto;
}
		
.dropdown-content a:hover {
    background-color: #5a9697;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/*------------------------------------*\
Contenitore prodotti e Contenitore home
\*------------------------------------*/

#outer {
    height: 90vh;
    width: 100%;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}

.inner {
    padding: 10% 10% 10% 10%;
    vertical-align: middle;
    width: 30%;
}

.dx{
    float: right;
}

.inner p {
    font-size: 25px;
    text-align: center;
    color:white;
}

/* Immagine home */
.outer-home{
    background-image: url("../../img/headphones/headphones3.jpg");
}

/* Immagine cuffie in-ear */
.outer-cuffieInEar{
    background-image: url("../../img/prodotti/cuffieInear/presentation.png");
}

/* Immagine cuffie on-ear */
.outer-cuffieOnEar{
    background-image: url("../../img/prodotti/cuffieOnear/presentation.png");
}

/* immagine cuffie wireless */
.outer-cuffieWireless{
    background-image: url("../../img/prodotti/cuffieWireless/presentation.png");
}


/*------------------------------------*\
               Home
\*------------------------------------*/

.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #01404f;
    border: none;
    color:white;
    text-align: center;
    text-decoration: none;
    padding: 19px 27px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10%;
}

.button:hover{
    background-color:#5a9697; 
    color:white;
}

.inner h2{
    text-align: center; 
    font-size: 45px;
    color:white; 
}




/* ___PIU VENDUTI___ */

.content{
    position: relative;
    height: 90%;
    width: 100%;
    margin-top: 0px;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
        
}

.data-template{
    position:relative;
    width:100%;
}

.data-template h2{
    margin: 0px auto;
    padding: 42px 0px;
    text-align: center; 
    font-size: 45px;
    color:#01404f;; 
}

.outer{
    display:table;
    align-items:center;
    position:relative;
     width: 80%;
     margin-left:10%;
     margin-right:10%;
     margin: 0 auto;
     margin-bottom:80px;
     background-color:white;
     overflow:hidden;
     
}

.data-template {
    width: 100%;
      margin-top: 0px;
}

.product-box {
    position:relative;
    width:25%;
    height:100%;
    float:left;
    /* ___non sono sicuro sia il modo giusto di farlo
        serve per rendere i box tutti della stessa altezza */
    margin-top: -9999px;
	margin-bottom: -9999px;
	padding-top: 9999px;
	padding-bottom: 9999px;
  }

  .product-box:hover{
    background-color: #8ed8cc;
  }

  .product-box h4{
    font-size: 1.3em;
    text-align: center;
    color:black;
    margin: 20px 5px 5px 5px;

  }
  .product-box p{
    max-width:200px;
    font-size: 0.8em;
    text-align: center;
    color:black;
    margin: 8% 15%;
}

.product-box img{
    position:relative;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    display:block;
    padding: 5%;
    border-radius: 50%; 
}

/* ___ICON___ */
.icon-wrapper{
    position:relative;
    width:80%;
    height:400px;
    padding: 5% 10%;
    background-color:#8ed8cc;
}

.icon-row{
    position:relative;
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}

.icon-col{
    position:relative;
    float:left;
    width:25%;
    height:100%;
    margin:4.1%;
    font-size: 1em;
    /* background-color: red; */
    /* margin: 5px; */
    

}

.icon{
    display: block;
    margin:0 auto;
    width:100px;
    height: 100px;
    position:relative;
    
    width:100%;
    /* margin:70%; */
    /* border-radius:50%; */
    
    background-size: 70px;
    background-repeat:no-repeat;
    width:70px;
    height: 70px;

   
}

#shipping-icon{ 
    position:relative;

    background-image: url("../../img/icon/svgIcon/headSetW.png");
   
    /* background-color:red; */
}
#color-personalizer{background-image: url("../../img/icon/svgIcon/headSetW.png");
    /* background-color:red; */
}
#supervisioned{background-image: url("../../img/icon/svgIcon/headSetW.png");
    background-repeat:no-repeat;
    /* background-color:red; */
}

/*------------------------------------*\
               Prodotti
\*------------------------------------*/

#productContainer{
    width: 100%;
    height: 30vh;
    box-shadow: 0px 4px 2px #8080807A;
    margin-bottom: 5px;
}

.productImg{
    background-image: url("../../img/prodotti/cuffieInear/inear1.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain; 
    margin: 0px 0 4px 0;
    height: 100%;
    width: 25%;
    vertical-align: middle;
    float: left;
}

.product {
    width: 75%;
    height: 20vh;
    float: right;
}

.productPrice{
    height: 5vh;
    position: relative;
    display: inline-block;
}

.product p{
    font-size: 20px;
    color:black;
    text-align: justify;
    margin-right: 20px;
    
}

.compra{
    height: 5vh;
    position: relative;
    float: right;
    margin-right: 40px;
    padding: 0 20px 0 20px;
    background-color: #01404f;
    border: none;
    color:white;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
}